{% extends "base.html" %}
{% load static %}

<title>
    {% block titel %}Articles{% endblock titel %}
</title>
{% block css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "postapp/css/articles.css" %}">
{% endblock css %}





{% block body %}

<section id="hero-section">
    <div class="container ">
    <div class="intro-div row row-cols-lg-2 row-cols-md-2 row-cols-1 g-4">
      
            <div class="col intro-text-container">
                  <h2 class='text-center'>Universal Canvas</h2>
                  <hr>
                  <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt commodi et tempora cum minima amet. Reiciendis provident, distinctio nihil doloribus, repudiandae nisi natus tenetur alias dignissimos repellendus soluta saepe at!</p>
            </div>

        
            <div class="col form-wrapper py-1">
                <p class='text-center fs-5 '>Search Here</p>
                <div class="search-form  d-flex justify-content-center align-items-center px-3 m-0">
                    <form action="#" method="GET" class="">
                        <input type="text" name="title" id="title" class="form-control my-2 w-100" placeholder="Enter blog title">
                
                        <select name="category" id="category" class="form-select my-2 w-100">
                            <option class='categories' value="">Select a Category</option>
                            <option class='categories' value="1">Sports</option>
                            <hr>
                            <option class='categories' value="2">Technology</option>
                            <hr>
                            <option class='categories' value="3">Lifestyle</option>
                            <hr>
                            <option class='categories' value="4">Education</option>
                        </select>
                
                        <button type="submit" class="btn btn-light d-block w-50 mx-auto mt-4">Search</button>
                    </form>

                </div>
                
            </div>
            
                
          </div>
          </div>
    </div>
  </section>







<section class="result">
    <div class="container">
        <h1>Latest Post</h1>
        <hr>
    </div>
    {% include "postapp/includes/blog_card.html" %}
</section>

{% endblock body %}


