{% extends "base.html" %}
{% load static %}


{% block css %}
  {{block.super}}
    <link rel="stylesheet" href="{% static "postapp/css/home_page.css" %}">
    <link rel="stylesheet" href="{% static "postapp/css/blog_card.css" %}">
{% endblock css %}






{% block body %}

{% comment %} hero section {% endcomment %}
  <section id="hero-section">
    <div class="container">
    <div class="intro-div">
      <div class="row">
        <div class="col intro-text-container">
            <h2 class='text-center'>Universal Canvas</h2>
            <hr>
            <p  class='text-justify'><span class='fs-3 fw-bold '>Welcome to Universal Canvas</span> — your digital space where ideas, code, and creativity come alive. Whether you're a curious beginner or a seasoned developer, this blog offers in-depth tutorials, insightful articles, and inspiring projects across web development, AI, and beyond. Explore the art of building with Django, Python, and more — one post at a time.
            </p>
        </div>

      </div>
            
                
          
    </div>
  </section>
{% comment %} hero section {% endcomment %}

{% comment %} latest-post {% endcomment %}
<section id='latest-blogs'>
  <div class="container">
    <div class="section-header-wrapper d-flex justify-content-between align-items-center m-0 p-0">
      <h2 class='fw-bold'>Latest posts</h2>
      <a href="{% url "article_page" %}" class=' btn btn-dark text-white rounded-pill'>See All</a>

    </div>
    
    <hr class="mt-0 mb-2 p-0">
  </div>
  {% include "postapp/includes/blog_card.html" with latest_posts=posts %}
</section>
{% comment %} latest-post {% endcomment %}
{% endblock body %}


