.helptext{
    display: none;
}

#id_username,#id_password{
    width: 100%;
    /* border-radius: 5px; */
    font-size: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#id_username:focus,#id_password:focus{
    outline: none;
    box-shadow: none;
}
.card-header{
    background-color: whitesmoke;

}
.card-body{
    background-color: white;
}

.login-section {
    overflow-x: hidden;
}

/* input[type="file"] {
    max-width: 100%;
    display: block;
} */

.login-section{
    padding: 2rem 0;
    margin-top: 10% !important;

}
@media (max-width:450px)  {
    .login-section{
        margin-top: 25% ;
    }
    
}