.helptext{
    display: none;
}
#id_email ,#id_username,#id_password1,#id_password2,#id_first_name,#id_last_name{
    width: 100%;
    /* border-radius: 5px; */
    font-size: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#id_email:focus ,#id_username:focus,#id_password1:focus,#id_password2:focus,#id_first_name:focus,#id_last_name:focus{
    outline: none;
    box-shadow: none;
}
.card-header{
    background-color: whitesmoke;

}
.card-body{
    background-color: white;
}

.register-section {
    overflow-x: hidden;
}

/* input[type="file"] {
    max-width: 100%;
    display: block;
} */

.file-input-wrapper {
    overflow-x: auto;
}

.register-section{
    padding: 2rem 0;
    margin-top: 10% !important;

}

@media (max-width:500px)  {
    .register-section{
        margin-top: 25% ;
    }
    
}