{% extends "base.html" %}
{% load static %}

{% block css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "userapp/css/register.css" %}">
{% endblock css %}


{% block body %}
<section class="register-section" >
    <div class="container-fluid px-3">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <div class="card-title text-center">
                            <h4>Registration Form</h4>
                            {% if error %}
                                <p class='alert alert-danger' role='alert'>Some Error Occured.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                    <form action="register" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <!-- email -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.email.label_tag }}</p>
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        
                            <!-- First Name -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.first_name.label_tag }}</p>
                                {{ form.first_name }}
                                {% for error in form.first_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            
                           <!-- middle Name -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.middle_name.label_tag }}</p>
                                {{ form.middle_name }}
                                {% for error in form.middle_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <!-- Last Name -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.last_name.label_tag }}</p>
                                {{ form.last_name }}
                                {% for error in form.last_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        
                            <!-- Password 1 -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.password1.label_tag }}</p>
                                {{ form.password1 }}
                                {% for error in form.password1.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        
                            <!-- Password 2 -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.password2.label_tag }}</p>
                                {{ form.password2 }}
                                {% for error in form.password2.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        
                            <!-- Profile Pic -->
                            <div class="mb-2">
                                <p class="m-0">{{ form.profile_pic.label_tag }}</p>
                                <div class="file-input-wrapper">
                                    {{ form.profile_pic }}
                                </div>
                                {% for error in form.profile_pic.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        
                            <!-- Global (non-field) errors -->
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        
                            <hr>
                        
                            <!-- Submit -->
                            <div class="card-footer text-center">
                                <button class="btn btn-success w-100" type="submit">Register</button>
                                <small class="text-muted d-block mt-2">
                                    Already have an account? <a href="{% url "login" %}">Login here</a>
                                </small>
                                <small class="text-muted d-block mt-2">
                                    Already Reistered? <a href="{% url "resend_email_verification_link" %}">Resend Verification Link</a>
                                </small>
                            </div>
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock body %}
