{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet", href="{% static "userapp/css/reset_password.css" %}">

</head>
<body>
    <div class="container">
        <div class="icon">🔑</div>
        <h1>Create New Password</h1>
        <p class="subtitle">Your new password must be different from previously used passwords.</p>
        
       
        
        <form id="resetPasswordForm" method='POST'>
             {% csrf_token %}
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required>
                <span class="password-toggle" onclick="togglePassword('newPassword', this)">👁️</span>
                

            </div>
            
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required>
                <span class="password-toggle" onclick="togglePassword('confirmPassword', this)">👁️</span>
            </div>
            
            <button type="submit" class="btn btn-primary" id="submitBtn">
                <span id="btnText">Reset Password</span>
            </button>
        </form>

         <div id="alertBox" class="hidden">
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
         </div>
    </div>

    <script>   
            function togglePassword(inputId, icon) {
            const input = document.getElementById(inputId);
            if (input.type === 'password') {
                input.type = 'text';
                icon.innerText = '👁️‍🗨️';
            } else {
                input.type = 'password';
                icon.innerText = '👁️';
            }
        }
    </script>

</body>
</html>