
    <div class="container">
      <div class="row gy-2">
        {% for post in latest_posts %}
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card shadow  border-2">
            <div class="card-header m-0 p-0" >
            <h4 class="shadow-text" style="">{{ post.title|title }}</h4>
          </div>
            <div class="card-body">
              <img src="{{post.image.url}}" alt="">
            </div>
            <div class="card-footer m-0 px-2 d-flex justify-content-between align-items-center flex-column">
              <div class="excerpt">
                <a href="{% url "full-article" slug=post.slug %}">
                  <p>{{post.excerpt}}</p>
                </a>
              </div>
              <div class="bolg-meta text-end w-100">
                <p class='m-0 p-0'>By<a href="{% url "author_all_posts" author=post.author.username %}" class='mx-1 author'>{{post.author.get_full_name}}</a></p>
                <time datetime="">Last Updated on : {{post.date|date:"F j, Y"}}</time>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
     