
.form-wrapper{
    display: flex;
}
.vertical-line{
    width: 5px;
    min-height: 100%;
    background-color:black;
    border-radius: 10px;

}

input, select{
    border:none !important;
    border-bottom: 2px solid black !important; 
    padding: .5rem;
    border-radius: 0 !important;
    margin-bottom: .8rem !important;
}

input[type='text']:focus,select:focus{
    box-shadow: none;
    outline: none;
    }
#result-section{
    margin: 3rem 0;
    padding: 1rem;
    background-color:whitesmoke;
    border-radius: 5px;

}


/* pagination.css */
.dark-pagination .pagination {
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

.dark-pagination .page-link {
    background-color: #333;
    color: #fff;
    border-color: #444;
    transition: all 0.3s ease;
}

.dark-pagination .page-item.active .page-link {
    background-color: #666;
    border-color: #444;
    color: #fff;
}

.dark-pagination .page-link:hover {
    background-color: #444;
    color: #fff;
}

.dark-pagination .page-item.disabled .page-link {
    background-color: #000;
    border-color: #444;
    color: #888;
}

