.category{
    display:none;
}



/* hero-section */
#hero-section{
    border-radius: 5px;
    text-align: justify;
    width: 60%;
    margin: auto;
    margin-top: -6rem;
    
}
.intro-div{
    background-color:whitesmoke;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    border-radius: 6px;
   

}
/* hero-section ends here */

/* latest-blogs */
#latest-blogs{
    margin: 4rem 0;
    padding: 3rem 0;
    background-color: rgb(213, 229, 229);
    border-radius: 5px;

}

#blog-card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    height: fit-content; 
    padding: 2rem 0;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}
.card-body{
    overflow: hidden;
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
  }
.card:hover{
    scale: 1.05;
    transition: 1s ease-in-out;
}

/* hero sectio media-query */
@media (max-width:577px){
    #hero-section{
        width: 90%;
    }
}
